#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}